body {
  margin: 0;
  padding: 0;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  background-image: url(./static/background.png);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
  z-index: 0;
}



p {
  margin: 0;
}

th, td {
  border: 1px solid #74CEE2;
  color:#ffffff;
  font-weight: lighter;
  letter-spacing: 0.248em;
  font-size: 11px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------ Header --------------------------------  */



.header {
  display: block;
  height:0px;
}

.menu-wrapper {
  display: flex;
}

.menu-wrapper-detail {
  position: absolute;
  z-index: 1;
  right:5%;
  top: 38px;
  color: #ffffff;
  width: 500px;
  display: flex;
  justify-content: space-between;
  list-style:none;
  font-size: 14.63px;
  font-family: Helvetica Neue, Arial;
  font-weight: lighter;
  margin: 0px;
}

.nav-toggle {
  display: none;
}



/* ----------------------------------- Key-visual ------------------------------- */



.key-message {
  position: absolute;
  width: 460px;
  top: 25.16%;
  left: 50%;
  transform: translateX(-50%);
}
.message {
  display: block;
}
.message-small-wrapper {
  display: none;
}

.down-arrow {
  display: none;
}

.jlab-logo {
}


/* ---------------------------------- News and Compnay -----------------------------*/

.news_and_company {
  width: 782px;
  margin-top: 71.245px;
}

.section-title-small {
  display: none;
}


.triangle1 {
  position: absolute;
  width: 706px;
}

.triangle2 {
  position: absolute;
  width: 755px;
  top: 402px;
}

.section-title-small {
  font-family : Helvetica Neue, Arial;
  font-size : 23px;
  font-weight: lighter;
  letter-spacing : 3.21px;
  color : #74CEE2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.news-main {
  position: absolute;
  color:#ABE1FA;
  font-size: 13px;
  top: 86.893px;
  left: 226.339px;
  letter-spacing: 0.15em;
  font-weight: lighter;
}

.company-header {
  position: absolute;
  color:#FFFFFF;
  font-size: 24px;
  top: 392.389px;
  left: 133.817px;
  letter-spacing: 2.63px;
  font-weight:lighter;
  display:inline;
}

.company-header-text {
  display: block;
}
.company-header-text-small {
  display: none;
}

.company-main {
  position: absolute;
  color:#ABE1FA;
  width: 540px;
  font-size: 13px;
  top: 445.213px;
  left: 133.817px;
  letter-spacing:2.64px;
  font-weight:lighter;
  line-height: 21pt;
  text-align: justify;
}

.partner-wrapper {
  display: block;
}

.partner-wrapper-small {
  display: none;
}



/* --------------------------------- Product ---------------------------------------*/
.circle1 {
  width: 577px;
  position: absolute;
  top: 200.067px;
}
.circle2 {
  width: 462px;
  left: 200px;
  position: absolute;
  top: 450.067px;
}

.product {
  width: 805.243px;
  height: 2299.873px;
}

#product {
  display: none;
}

.explain-wrapper {
  display: block;
}

.explain-wrapper-small {
  display: none;
}

/* ------------------------- Solution --------------------------------- */
.solution-wrapper {
  width: 857.957px;
}

.pentagon1 {
  width: 577.471px;
  position: absolute;
  top: 200.067px;
}

.pentagon2 {
  width: 800.957px;
  position: absolute;
  top: -20.252px;
  left: 100px;
}



/* ---------------------- Contact ----------------------------- */
.contact-wrapper {
  position: relative;
  width: 843.043px;
  height: 1125.859px;
  margin-left: auto;
  margin-right: auto;
}


.rectangle1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
}

.rectangle2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100px;
}


/* -------------------------- Routez detail ---------------------------- */
.routez-detail {
  position: relative;
  margin-top: 139.361px;
  width: 601px;
  height: 1691.769px;
  margin-left: auto;
  margin-right: auto;
}



.routez-detail-title {
  position: absolute;
  font-size : 24px;
  line-height : 30px;
  letter-spacing : 4.22px;
  color : #74CEE2;
  font-weight: lighter;
  left: 215.716px;
}

.routez-detail-explain {
  display: block;
  position: absolute;
  width: 516.327px;
  top: 60.966px;
  left:51.403px;
  font-size : 13px;
  font-weight: lighter;
  line-height : 28px;
  letter-spacing : 2.25px;
  color :#ABE1FA;
  text-align: justify;
}

.routez-detail-explain-2 {
 letter-spacing: 1.78px;
}

.routez-detail-explain-small {
  display: none;
}

.routez-detail-img1-wrapper {
  position: relative;
  width: 110.894px;
  top: 293.223px;
  left: 253.161px;
}

.routez-detail-img1 {
  width: 100%;
  height:100%;
}

.routez-detail-img2 {
  position: absolute;
  width: 582.801px;
  height: 656.506px;
  top: 503.163px;
}

.routez-detail-img2-small {
  display: none;
}

.demo-movie-title-wrapper {
  position: absolute;
  width: 208.389px;
  top: 1283.011px;
  fontSize : 18px;
  line-height : 30px;
  letter-spacing : 2.17px;
  text-align: center;
  left: 200.852px;
  font-weight: lighter;
}

.demo-video-wrapper {
  position: absolute;
  width: 584.614px;
  height: 329.979px;
  top: 1361.191px;
  left:16.301px;
}

.demo-video {
  width:100%;
}

.routez-menu {
  position: relative;
  margin-top: 175.559px;
  height: 2967.997px;
  width: 653.177px;
  margin-left: auto;
  margin-right: auto;
}

.routez-menu-title {
  position: absolute;
  font-family : Helvetica Neue, arial;
  font-size : 31px;
  font-weight:lighter;
  letter-spacing : 4.19px;
  color : #74CEE2;
  left: 215.269px;
}

.zwave-cloud-small-wrapper {
  display: none;
}

.zwave-phone-wrapper-small {
  display: none;
}

.zwave-device-wrapper {
  display: block;
}

.zwave-home-wrapper-small {
  display: none;
}

.zwave-device-wrapper-small  {
  display: none;
}

.routez-demokit-small {
  display: none;
}



/* ----------------------------------Light bulb small ------------------------ */

.light-bulb-wrapper-small {
  display: none;
}



/* ---------------------------------- Recruit ---------------------------------*/
.recruit-wrapper-small {
  display: none;
}



/* ------------------------------- Mirror ---------------------------------- */
.mirror-wrapper-small {
  display: none;
}



/* ------------------------------- Consulting -------------------------------- */

.consulting-wrapper-small {
  display: none;
}




/* ----------------------------- Gateway --------------------------------- */

.gateway-wrapper-small {
  display: none;
}



/* ---------------------------------- Small Screen -------------------------- */



@media (max-width: 801px) {



  /* -------------------------------- Header ---------------------------- */

  .header {
    height: 84.69px;
  }
  .menu-wrapper {
    display: none;
  }

  .menu-wrapper-detail {
    display: none;
  }


  .footer {
    display: none;
  }

  .footer-small {
    display: block;
  }

  .nav-toggle {
    display: block;
    width: 56px;
    height: 43px;
    position: fixed;
    margin-left: 88%;
    margin-top: 18px;
    cursor: pointer;
  }
  .nav-toggle span {
    position: absolute;
    height: 4px;
    width: 100%;
    background: #74CEE2;
    left: 0;
  }

  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 11px;
  }
  #nav-toggle span:nth-child(3) {
    top: 23px;
  }

  #nav-toggle.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  #nav-toggle.open span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  #nav-toggle.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  .menu-wrapper-small {
    width:100%;
    height: 608px;
    position: fixed;
    background-image: url(./static/background.png);

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
    z-index: 1000;
  }

  .menu-main-wrapper-small {
    color : #ABE1FA;
    width: 94.4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 136.17px;
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: lighter;
    line-height: 64.5px;
    text-align: center;
  }


  /* -----------------------------Key-visual-------------------------------- */
  .key-message {
    position: relative;
    width: 264.475px;
    height: 274.41px;
    top: 12.3px;
    margin-left: auto;
    margin-right: auto;
  }

  .jlab-logo {
    left: -30px;
  }

  .message {
    display: none;
  }
  .message-small-wrapper {
    display: block;
    position: absolute;
    display: block;
    width: 220px;
    top: 130.8px;
    left:50%;
    transform: translate(-50%);
  }
  .message-small1 {
    text-align: center;
  }
  .message-small2 {
    text-align: center;
  }

  .down-arrow {
    display: block;
    position: absolute;
    width: 32px;
    height:16.5px;
    top: 257.78px;
    left: 50%;
    transform: translateX(-50%);

  }



  /* ---------------------------------- News and Compnay -----------------------------*/

  .news_and_company {
    width: 232.5px;
    margin-top: 111.24px;
  }

  .section-title {
    display: none;
  }

  .section-title-small {
    display: block;
  }

  .triangle1 {
    position: absolute;
    width: 263.2px;
  }

  .triangle2 {
    position: absolute;
    width: 230.779px;
  }

  .news-main {
    position: relative;
    width: 233px;
    font-size : 13px;
    line-height : 23.5px;
    letter-spacing : 3.5px;
    color : #ABE1FA;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38.1px;
    padding-left: 10px;
  }

  #company {
    margin-top: 168.9px;
  }

  .company-header {
    position: relative;
    color:#FFFFFF;
    font-size: 20.5px;
    letter-spacing: 2.5px;
    line-height: 32px;
    font-weight:lighter;
    display:inline;
    left: 0;
    top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .company-header-text {
    display: none;
  }
  .company-header-text-small {
    display: block;
  }


  .company-main {
    position: relative;
    width: 232.5px;
    color:#ABE1FA;
    font-size: 13px;
    top: 50px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    line-height: 23.5px;
    letter-spacing:2.34px;
    font-weight:lighter;
    display:inline;
  }

  .partner-wrapper {
    display: none;
  }

  .partner-wrapper-small {
    display: block;
    width: 232.5px;
    font-size : 9.5px;
    line-height : 16.5px;
    letter-spacing : 1.5px;
    color : #ABE1FA;
    text-align: justify;
    margin-top: 83.85px;
    position: relative;
  }

  .partner-img1-small-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 59.5px;
  }

  .partner-img1-small {
    width: 100%;
  }
  .partner-img1-small-text {
    margin-top: 16.78px;
    font-weight: lighter;
  }

  .partner-img2-small-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 101.5px;
    margin-top: 18.72px;
  }

  .partner-img2-small {
    width: 100%;
    font-weight: lighter;
  }
  .partner-img2-small-text {
    margin-top: 16.78px;
  }







  /* --------------------------------- Product ---------------------------------------*/
  .circle1 {
    width: 200px;
  }
  .circle2 {
    width: 200px;
    left: 50px;
    top: 200px;
  }

  .product {
     width: 232.8px;
    height: 1960.32px;
  }

  #product {
    display: block;
    margin-top: 192.48px;
  }

  .explain-wrapper {
    display: none;
  }

  .explain-wrapper-small {
    display: block;
  }

  #routez {
    margin-top: 83.586px;
  }

  .routez-img {
    width: 77px;
    margin-left: auto;
    margin-right: auto;
  }
  .routez-explain-title {
    font-weight: lighter;
    font-family: Helvetica Neue, Arial;
    margin-top: -58px;
    font-size: 20.5px;
    line-height: 32.5px;
    letter-spacing: 2.3px;
    color : #FFFFFF;
  }
  .routez-explain {
    font-size : 13px;
    line-height : 23.5px;
    font-weight: lighter;
    letter-spacing : 1.8px;
    color : #ABE1FA;
    text-align: justify;
    margin-top: 12px;
  }

  #gateway {
    margin-top: 78.34px;
  }

  .gateway-img-wrapper {
    width: 101.3px;
    margin-left: auto;
    margin-right: auto;
  }
  .gateway-img {
    width: 100%;
  }
  .gateway-explain-title {
    font-weight: lighter;
    font-size: 20.5px;
    line-height: 32.5px;
    letter-spacing: 2.3px;
    color : #FFFFFF;
  }
  .gateway-explain {
    font-size : 13px;
    margin-top: 10px;
    line-height : 23.5px;
    font-weight: lighter;
    letter-spacing : 1.8px;
    color : #ABE1FA;
    text-align: justify;
  }

  #led-bulb {
    margin-top: 78.34px;
  }
  .bulb-img-wrapper {
    width: 93.698px;
    margin-left: auto;
    margin-right: auto;
  }
  .bulb-img {
    width: 100%;
  }
  .bulb-explain-title {
    font-weight: lighter;
    font-size: 20.5px;
    line-height: 32.5px;
    letter-spacing: 4.2px;
    color : #FFFFFF;
  }
  .bulb-explain {
    font-size : 13px;
    margin-top: 10px;
    line-height : 23.5px;
    font-weight: lighter;
    letter-spacing : 1.8px;
    color : #ABE1FA;
    text-align: justify;
  }

  #av-player {
    margin-top: 78.34px;
  }

  .engine-img-wrapper {
    width: 93.698px;
    margin-left: auto;
    margin-right: auto;
  }

  .engine-img {
    width: 100%;
  }

  .engine-explain-title {
    font-weight: lighter;
    font-size: 20.5px;
    margin-top: -85px;
    line-height: 32.5px;
    letter-spacing: 2px;
    color : #FFFFFF;
  }
  .engine-explain {
    font-size : 13px;
    margin-top: 10px;
    line-height : 23.5px;
    font-weight: lighter;
    letter-spacing : 1.6px;
    color : #ABE1FA;
    text-align: justify;
  }

  #mirror {
    margin-top: 78.34px;
  }

  .mirror-img-wrapper {
    width: 111.9px;
    margin-left: auto;
    margin-right: auto;
  }

  .mirror-img {
    width: 100%;
  }

  .mirror-explain-title {
    font-weight: lighter;
    font-size: 20.5px;
    margin-top: -75px;
    line-height: 32.5px;
    letter-spacing: 2px;
    color : #FFFFFF;
  }
  .mirror-explain {
    font-size : 13px;
    line-height : 23.5px;
    margin-top: 10px;
    font-weight: lighter;
    letter-spacing : 3.1px;
    color : #ABE1FA;
    text-align: justify;
  }

  .button-small {
    width: 100%;
    height: 30px;
    margin-top: 17.78px;
    background : rgba(116, 206, 226, 0.6);
    color: #ffffffff;
    font-weight: lighter;
    font-family: Helvetica Neue, Arial;
    border-radius : 17pt;
    border: none;
    -moz-border-radius : 17pt;
    -webkit-border-radius : 17pt;
  }



  /* ------------------------- Solution --------------------------------- */
  .solution-wrapper {
    width: 232.5px;
    margin-top: 199.5px;
  }

  #consulting {
    margin-top: 73.76px;
  }

  .consulting-img-wrapper {
    width: 153px;
    margin-left: auto;
    margin-right: auto;
  }

  .consulting-img {
    width: 100%;
  }

  .consulting-explain-title {
    font-weight: lighter;
    font-size: 20.5px;
    margin-top: -105px;
    line-height: 32.5px;
    letter-spacing: 2px;
    color : #FFFFFF;
  }
  .consulting-explain {
    font-size : 13px;
    margin-top: 10px;
    line-height : 23.5px;
    font-weight: lighter;
    letter-spacing : 1.6px;
    color : #ABE1FA;
    text-align: justify;
  }

  .pentagon1 {
    left: 0;
    width: 298.845px;
    position: absolute;
    top: 100.067px;
  }

  .pentagon2 {
    width: 277.45px;
    left: 0;
    position: absolute;
    top: -20.252px;
  }

  #middle-ware {
    margin-top: 111.323px;
  }

  .middleware-img-wrapper {
    width: 156.81px;
    margin-left: auto;
    margin-right: auto;
  }

  .middleware-explain-title {
    font-weight: lighter;
    font-size: 20.5px;
    margin-top: -75px;
    line-height: 32.5px;
    letter-spacing: 2px;
    color : #FFFFFF;
  }

  .middleware-explain {
    font-size : 13px;
    margin-top: 10px;
    line-height : 23.5px;
    font-weight: lighter;
    letter-spacing : 1.6px;
    color : #ABE1FA;
    text-align: justify;
  }


  /* ---------------------- Contact ----------------------------- */
  .contact-wrapper {
    width: 281.54px;
    margin-left: auto;
    margin-right: auto;
  }

  #contact-title {
    position: absolute;
    top: 146.64px;
    left: 50%;
    transform: translateX(-50%);
  }

  .rectangle1 {
    top: 0px;
  }
  .rectangle2 {
    top: 0px;
  }



  /* -------------------------- Routez detail ---------------------------- */
  .routez-wrapper {
    position: relative;
    width: 100%;
  }

  .routez-menu {
    height: 3113px;
  }


  .routez-detail {
    position: relative;
    margin-top: 104.42px;
    width: 258.55px;
    height: 937.46px;
    margin-left: auto;
    margin-right: auto;
  }



  .routez-detail-title {
    position: relative;
    font-size : 23px;
    line-height : 30px;
    letter-spacing : 3.1px;
    color : #74CEE2;
    font-weight: lighter;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    left: 0px;
  }

  .routez-detail-explain {
    display: none;
  }

  .routez-detail-explain-small {
    display: block;
    position: relative;
    font-size : 13px;
    line-height : 23.5px;
    letter-spacing : 2.23px;
    color : #ABE1FA;
    font-weight: lighter;
    margin-top: 46.468px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
  }

  .routez-detail-img1-wrapper {
    position: relative;
    width: 60px;
    height: 55px;
    top: 0px;
    left: 0;
    margin-top: 40.3px;
    margin-left: auto;
    margin-right: auto;
  }
   .routez-detail-img1 {
     width: 100%;
     height:100%;
   }

  .routez-detail-img2 {
    display: none;
    position: relative;
    width: 256px;
    margin-left: auto;
    margin-right: auto;
  }
  .routez-detail-img2-small {
    display: block;
    position: relative;
    width: 256px;
    top: 0;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  .demo-movie-title-wrapper {
    position: relative;
    margin-top: 50.86px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;

  }
  .demo-video-wrapper {
    position: relative;
    margin-top: 18px;
    margin-left: -28.225px;
    top: 0;
    left: 0;
    width: 315px;
  }
  .demo-video {
    width: 100%
  }

  .routez-menu {
    width: 245.55px;
    margin-top: 223.04px;
  }

  .routez-menu-title {
    position: relative;
    font-family : Helvetica Neue, arial;
    font-size : 23px;
    font-weight:lighter;
    letter-spacing : 4.19px;
    color : #74CEE2;
    text-align: center;
    left: 0px;
  }

  .zwave-cloud-wrapper {
    display: none;
  }

  .zwave-cloud-small-wrapper {
    display: block;
  }


  .zwave-cloud-img-wrapper {
    width: 119.445px;
    height: 155.689px;
    margin-top: 35.17px;
    margin-left: auto;
    margin-right: auto;
  }

  .zwave-cloud-main-wrapper {
    width: 245.55px;
    margin-top: -27px;
  }

  .zwave-cloud-main-title {
    font-size : 20.5px;
    font-weight:lighter;
    letter-spacing : 2.2px;
    color : #ffffff;
  }

  .zwave-cloud-main-explain {
    margin-top: 20px;
    font-size : 13px;
    font-weight:lighter;
    line-height: 23.5px;
    letter-spacing : 3.2px;
    color : #85A2BD;
  }

  .zwave-cloud-detail1-wrapper {
    width: 245.55px;
    margin-top: 27.3px;
    border-bottom: 1px solid #698198;
    height: 125px;
  }

  .zwave-cloud-detail1-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.65px;
    color : #ffffff;
  }

  .zwave-cloud-detail1-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 3.25px;
    color : #85A2BD;
    margin-top: 14px;
  }

  .zwave-cloud-detail2-wrapper {
    width: 245.55px;
    margin-top: 26.5px;
    border-bottom: 1px solid #698198;
    height: 150px;
  }

  .zwave-cloud-detail2-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.65px;
    color : #ffffff;
  }

  .zwave-cloud-detail2-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 3.25px;
    color : #85A2BD;
    margin-top: 14px;
  }

  .zwave-cloud-detail3-wrapper {
    width: 245.55px;
    margin-top: 26.5px;
    border-bottom: 1px solid #698198;
    height: 105px;
  }

  .zwave-cloud-detail3-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.65px;
    color : #ffffff;
  }

  .zwave-cloud-detail3-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 3.25px;
    color : #85A2BD;
    margin-top: 14px;
  }

  .zwave-phone-wrapper {
    display: none;
  }

  .zwave-phone-wrapper-small {
    display: block;
    margin-top: 164px;
  }

  .zwave-phone-main-wrapper {
    margin-top: -57px;
  }

  .zwave-phone-main-title {
    font-size : 20.5px;
    font-weight:lighter;
    letter-spacing : 1px;
    color : #ffffff;
  }

  .zwave-phone-img-wrapper {
    width: 110.5px;
    height: 220px;
    margin-left:auto;
    margin-right: auto;
  }
  .zwave-phone-img {
    width: 100%;
  }

  .zwave-phone-main-explain {
    margin-top: 20px;
    font-size : 13px;
    font-weight:lighter;
    line-height: 23.5px;
    letter-spacing : 3.2px;
    color : #85A2BD;
  }

  .zwave-phone-detail1-wrapper {
    width: 245.55px;
    margin-top: 27.3px;
    border-bottom: 1px solid #698198;
    height: 150px;
  }

  .zwave-phone-detail1-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.8px;
    color : #ffffff;
  }

  .zwave-phone-detail1-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 2.95px;
    color : #85A2BD;
    margin-top: 14px;
    text-align: justify;
  }

  .zwave-phone-detail2-wrapper {
    width: 245.55px;
    margin-top: 27.3px;
    border-bottom: 1px solid #698198;
    height: 105px;
  }

  .zwave-phone-detail2-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.8px;
    color : #ffffff;
  }

  .zwave-phone-detail2-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 2.95px;
    color : #85A2BD;
    margin-top: 14px;
    text-align: justify;
  }

  .zwave-home-wrapper {
    display: none;
  }

  .zwave-home-wrapper-small {
    display: block;
    margin-top: 164px;
  }

  .zwave-home-img-wrapper {
    width: 100.5px;
    height: 112px;
    margin-left:auto;
    margin-right: auto;
  }
  .zwave-home-img {
    width: 100%;
  }


  .zwave-home-main-wrapper {
  }

  .zwave-home-main-title {
    font-size : 20.5px;
    font-weight:lighter;
    letter-spacing : 2.1px;
    color : #ffffff;
  }

  .zwave-home-main-explain {
    margin-top: 20px;
    font-size : 13px;
    font-weight:lighter;
    line-height: 23.5px;
    letter-spacing : 3.2px;
    color : #85A2BD;
    text-align: justify;
  }

  .zwave-home-detail1-wrapper {
    width: 245.55px;
    margin-top: 35.5px;
    border-bottom: 1px solid #698198;
    height: 110px;
  }

  .zwave-home-detail1-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.8px;
    color : #ffffff;
  }

  .zwave-home-detail1-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 2.1px;
    color : #85A2BD;
    margin-top: 14px;
    text-align: justify;
  }

  .zwave-home-detail2-wrapper {
    width: 245.55px;
    margin-top: 27.3px;
    border-bottom: 1px solid #698198;
    height: 105px;
  }

  .zwave-home-detail2-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.8px;
    color : #ffffff;
  }

  .zwave-home-detail2-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 2.55px;
    color : #85A2BD;
    margin-top: 14px;
    text-align: justify;
  }

  .gateway-link {
    width: 245.55px;
    height: 61px;
    background-color:rgba(116,206,226, 0.2);
    color: #74CEE2;
    border: none;
    font-family: Helvetica Neue, Arial;
    font-size:12.5px;
    letter-spacing:2.24px;
    font-weight: lighter;
    border-radius :10pt;
    z-index:1;
    margin-top: 36.2px;
  }

  .zwave-device-wrapper {
    display: none;
  }

  .zwave-device-wrapper-small  {
    display: block;
    margin-top: 144.05px;
  }

  .zwave-device-img-wrapper {
    width: 118.5px;
    height: 233.5px;
    margin-left:auto;
    margin-right: auto;
  }
  .zwave-device-img {
    width: 100%;
    height: 100%;
  }

  .zwave-device-main-wrapper {
    margin-top: -75px;
  }

  .zwave-device-main-title {
    font-size : 20.5px;
    font-weight:lighter;
    letter-spacing : 2.1px;
    color : #ffffff;
  }

  .zwave-device-main-explain {
    margin-top: 20px;
    font-size : 13px;
    font-weight:lighter;
    line-height: 23.5px;
    letter-spacing : 2.5px;
    color : #85A2BD;
    text-align: justify;
  }

  .zwave-device-detail1-wrapper {
    width: 245.55px;
    margin-top: 35.5px;
    border-bottom: 1px solid #698198;
    height: 110px;
  }

  .zwave-device-detail1-title {
    font-size : 16px;
    font-weight:lighter;
    letter-spacing : 1.8px;
    color : #ffffff;
  }

  .zwave-device-detail1-main {
    font-size : 13px;
    line-height: 23.5px;
    font-weight:lighter;
    letter-spacing : 2.1px;
    color : #85A2BD;
    margin-top: 14px;
    text-align: justify;
  }

  .led-link {
    width: 245.55px;
    height: 61px;
    background-color:rgba(116,206,226, 0.2);
    color: #74CEE2;
    border: none;
    font-family: Helvetica Neue, Arial;
    font-size:12.5px;
    letter-spacing:2.24px;
    font-weight: lighter;
    border-radius :10pt;
    z-index:1;
    margin-top: 36.2px;
  }

  .routez-demokit {
    display: none;
  }
  .routez-demokit-small {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 256px;
    width: 245.55px;
    display: block;
  }
  .routez-demokit-title-small {
    position: relative;
    font-family : Helvetica Neue, arial;
    font-size : 23px;
    font-weight:lighter;
    letter-spacing : 3.2px;
    color : #74CEE2;
    text-align: center;
  }

  .demokit-text-small {
    margin-top: 20px;
    font-size : 16px;
    font-weight:lighter;
    line-height: 32.5px;
    letter-spacing : 1.6px;
    color : #ffffff;
    text-align: justify;
  }

  .info-wrapper-small {
    width: 245.55px;
    margin-top: 38.5px;
  }
  .info-address {
    font-size: 19.5px;
    letter-spacing: 3.4px;
    color: #FFFFFF;
    margin-top: 32.5px;
    font-weight: lighter;
    text-align: center;
  }



  /* --------------------------------Light Bulb ---------------------------------- */

  .light-bulb-wrapper {
    display: none;
  }

  .light-bulb-wrapper-small {
    display: block;
    position: relative;
    width: 232.5px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .light-bulb-main-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .light-bulb-main-title {
    width: 202px;
    font-size : 23px;
    line-height : 34.5px;
    letter-spacing : 2.5px;
    color : #74CEE2;
    font-weight:lighter;
    margin-left: auto;
    margin-right: auto;
  }

  .light-bulb-main {
    font-size : 13px;
    line-height : 23.5px;
    letter-spacing : 1.8px;
    color : #ABE1FA;
    margin-top: 39.8px;
    text-align: justify;
    font-weight: lighter;
  }

  .light-bulb-img-wrapper {
    width: 155px;
    margin-top: 22.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .light-bulb-img {
    width: 100%;
  }

  .light-bulb-function-small {
    margin-top: 51.15px;
  }

  .light-bulb-function-small-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;

  }

  .light-bulb-function-small-main-wrapper {
    font-size : 10.5px;
    font-weight: lighter;
    line-height : 19.2px;
    letter-spacing : 1.8px;
    color : #FFFFFF;
    text-align: justify;
  }

  .light-bulb-property-small {
    margin-top: 54.75px;
  }

  .light-bulb-property-small-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }


  .light-bulb-price-wrapper {
    margin-top: 58px;
  }

  .light-bulb-price-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }

  .light-bulb-price {
    font-size : 12px;
    line-height : 22.03px;
    letter-spacing : 3px;
    color : #FFFFFF;
    font-weight: lighter;
  }

  .when-to-start-wrapper {
    margin-top: 58px;
  }

  .when-to-start-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }

  .when-to-start {
    font-size : 12px;
    line-height : 22.03px;
    letter-spacing : 3px;
    color : #FFFFFF;
    font-weight: lighter;
  }



  /* --------------------- Recruit ------------------------------------ */
  .recruit-wrapper {
    display: none;
  }

  .recruit-wrapper-small {
    display: block;
    width: 232.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .recruit-title {
    width: 202px;
    font-size : 23px;
    line-height : 34.5px;
    letter-spacing : 2.5px;
    color : #74CEE2;
    font-weight:lighter;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .recruit-jobs-wrapper {
    margin-top: 61.35px;
  }

  .recruit-jobs-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }

  .recruit-jobs {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color : #FFFFFF;
    font-weight: lighter;
  }

  .required-skills-wrapper {
    margin-top: 32.5px;
  }
  .required-skills-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }
  .required-skills {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color : #FFFFFF;
    font-weight: lighter;
  }

  .working-hours-wrapper {
    margin-top: 32.5px;
  }

  .working-hours-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }

  .working-hours {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color : #FFFFFF;
    font-weight: lighter;
  }

  .working-place-wrapper {
    margin-top: 32.5px;
  }

  .working-place-title {
    font-size : 15.5px;
    line-height : 36px;
    font-weight: lighter;
    letter-spacing : 2.7px;
    color : #85A2BD;
  }

  .working-place {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color : #FFFFFF;
    font-weight: lighter;
  }

  .jobs-info-wrapper {
    margin-top: 32.5px;
    width:245.5px;
  }

  .jobs-info {
    width: 100%;
  }

  .address-wrapper {
    margin-top: 26.73px;
  }

  .address {
    font-size : 19.5px;
    letter-spacing : 3.43px;
    color : #FFFFFF;
    font-weight: lighter;
    text-align: center;
  }

  /* ------------------------ AV-ENGINE ------------------------------ */

  .av-engine-wrapper {
    display: none;
  }

  .daw-wrapper-small {
    display: block;
    width: 232.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .daw-title-small {
    width: 202px;
    font-size : 23px;
    line-height : 34.5px;
    letter-spacing : 2px;
    color : #74CEE2;
    font-weight:lighter;
    margin-left: auto;
    margin-right: auto;
  }

  .daw-main-wrapper {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color :#85A2BD;
    font-weight: lighter;
    text-align: justify;
  }

  .daw-img-wrapper-small {
    margin-top: 42px;
    width: 208px;
    margin-left: auto;
    margin-right: auto;
  }



  /* ------------------ Mirror wrapper ----------------------------- */
  .mirror-wrapper {
    display: none;
  }

  .mirror-wrapper-small {
    display: block;
    width: 232.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .mirror-title-small {
    width: 210px;
    font-size : 23px;
    line-height : 34.5px;
    letter-spacing : 0px;
    color : #74CEE2;
    font-weight:lighter;
    margin-left: auto;
    margin-right: auto;
  }

  .mirror-main-wrapper {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color :#85A2BD;
    font-weight: lighter;
    text-align: justify;
  }

  .mirror-img-wrapper-small {
    position: relative;
    margin-top: 42px;
    width:232.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .mirror-img-small {
    margin-top: 20px;
  }

  .smartphone-small {
    position: absolute;
    font-size : 7.5px;
    line-height : 22.03px;
    letter-spacing : 0.7px;
    color :#85A2BD;
    font-weight: lighter;
    text-align: justify;
  }

  .tv-app-small {
    position: absolute;
    font-size : 7.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color :#85A2BD;
    left: 155px;
    font-weight: lighter;
    text-align: justify;
  }



  /* -------------------- Consulting ---------------------------- */
  .consulting-wrapper {
    display: none;
  }

  .consulting-wrapper-small {
    display: block;
    width: 232.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .consulting-explain-title-small {
    width: 210px;
    font-size : 23px;
    line-height : 34.5px;
    letter-spacing : 2.1px;
    color : #74CEE2;
    font-weight:lighter;
    margin-left: auto;
    margin-right: auto;
  }

  .consulting-explain-small {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color :#85A2BD;
    font-weight: lighter;
    text-align: justify;
  }

  .cosulting-img-wrapper-small {
    margin-top: 42px;
  }

  .consulting-exmple-wrapper-small {
    margin-top: 40px;
    font-size : 10.5px;
    line-height : 22.03px;
    letter-spacing : 2.1px;
    color :#ffffff;
    font-weight: lighter;
    text-align: justify;
  }



  /* ----------------------------- Gateway ---------------------- */
  .gateway-wrapper {
    display: none;
  }

  .gateway-wrapper-small {
    display: block;
    width: 232.5px;
    margin-left: auto;
    margin-right: auto;
  }

  .gateway-explain-title-small {
    width: 178px;
    font-size : 23px;
    line-height : 34.5px;
    letter-spacing : 2.1px;
    color : #74CEE2;
    font-weight:lighter;
    margin-left: auto;
    margin-right: auto;
  }

  .gateway-explain-wrapper {
    margin-top: 14px;
    font-size : 13px;
    line-height : 22.03px;
    letter-spacing : 2.3px;
    color :#85A2BD;
    font-weight: lighter;
    text-align: justify;
  }

  .gateway-img-wrapper-small {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
  }

  .gateway-img-small {
    width: 100%;
  }

  .gateway-function-wrapper-small {
    margin-top: 21.2px;
  }

  .gateway-function-title-small {
    font-size : 16.5px;
    letter-spacing : 4.27px;
    color : #85A2BD;
    font-weight: lighter;
  }

  .gateway-function-main-small {
    margin-top: 14px;
    font-size : 10.5px;
    line-height : 20.03px;
    letter-spacing : 2.1px;
    color :#ffffff;
    font-weight: lighter;
    text-align: justify;
  }

  .gateway-price-wrapper {
    margin-top: 40px;
  }

  .gateway-price-title-small {
    font-size : 16.5px;
    letter-spacing : 4.27px;
    color : #85A2BD;
    font-weight: lighter;
  }

  .gateway-price-main-small {
    margin-top: 12px;
    font-size : 10.5px;
    line-height : 20.03px;
    letter-spacing : 2.1px;
    color :#ffffff;
    font-weight: lighter;
    text-align: justify;
  }

  .gateway-start-wrapper {
    margin-top: 40px;
  }

  .gateway-start-title-small {
    font-size : 16.5px;
    letter-spacing : 4.27px;
    color : #85A2BD;
    font-weight: lighter;
  }

  .gateway-start-main-small {
    margin-top: 12px;
    font-size : 10.5px;
    line-height : 20.03px;
    letter-spacing : 2.1px;
    color :#ffffff;
    font-weight: lighter;
    text-align: justify;
  }


































}



   .partner2-text {
     top:128.2px;
   }

  .light-bulb-text1 {
    letter-spacing: 0.116em;
  }
  .light-bulb-text2 {
    letter-spacing:0.075em;
  }
  .light-bulb-text3 {
    letter-spacing:0.151em;
  }
  .light-bulb-text4 {
    letter-spacing:0.11em;
  }

  .organize-white {
    margin-left: 1.5em;
  }

  .outer-radius {
    width: 48.926px;
  }
  /* ------------------------ Mirror Screen -------------------------*/

.real-time {
      letter-spacing:0.14em;
  }



  /* ------------------------ For IE and Edge ------------------------*/
@supports (-ms-ime-align: auto) {
  .partner2 {
    margin-top: 50px;
  }



  .light-bulb-text1 {
    letter-spacing:0.1em;
  }
  .light-bulb-text2 {
    letter-spacing:0.09em;
  }
  .light-bulb-text3 {
    letter-spacing:0.151em;
  }
  .light-bulb-text4 {
    letter-spacing:0.10em;
  }
  .organize-white {
    margin-left: 0;
  }
  .outer-radius {
    width: 150.926px;
  }
  .partner2-text {
    top:135.2px;
  }
  /*  Mirror Screen*/
  .real-time {
    letter-spacing:0.12em;
  }

}




.col-2 {
}
.col-3 {
  width: 298.333px;
}